/* imageReducer.css */

.upload-wrapper {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    font-family: Arial, sans-serif;
}

.drop-area {
    border: 2px dashed #ccc;
    padding: 30px;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: #fff;
}

.drop-area.highlight {
    background-color: #e6f7ff;
    border-color: #1e90ff;
}

#selectFileBtn,
#convertBtn,
#downloadWebpBtn,
.close-btn {
    background-color: #1e90ff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

#selectFileBtn:hover,
#convertBtn:hover,
#downloadWebpBtn:hover,
.close-btn:hover {
    background-color: #0c7cd5;
}

#dpiRange {
    width: 100%;
    margin-top: 10px;
}

#dpiValue {
    margin-left: 10px;
    font-weight: bold;
}

#preview img {
    max-width: 100%;
    margin-top: 10px;
    border-radius: 5px;
}

#previewModal img {
    width: 300px;
    height: 280px;
    object-fit: contain;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: white;
}


#successMsg {
    color: green;
    margin-top: 10px;
}

#errorMsg {
    color: red;
    margin-top: 10px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}

.modal-content {
    background-color: #fff;
    margin: 5% auto;
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    max-width: 800px;
    position: relative;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20px;
    background: transparent;
    color: #333;
}

.image-comparison {
    display: flex;
    gap: 30px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.image-comparison > div {
    flex: 1;
    text-align: center;
}

.image-comparison h3 {
    margin-bottom: 10px;
}
